<div class="col-xs-6 col-xs-offset-3">
  <div class="text-center">
    <h1>Wikinimous</h1>
  </div>

  <div class="text-center">
    <%= link_to "Add a new article", new_article_path, class: 'btn btn-primary' %>
  </div>

  <ul class="list-group">
    <% @articles.each do |article| %>
    <li class="list-group-item">
      <h2>
        <%= article.title %>
      </h2>
      <p>
        <%= article.content %>
      </p>
      <div>
        <%= link_to "show", article_path(article), class: 'btn btn-warning'%>
        <%= link_to "edit", edit_article_path(article), class: 'btn btn-warning' %>
        <%= link_to "delete", article_path(article),
        method: :delete,
        data: { confirm: "Sure?" },
        class: 'btn btn-danger' %>
      </div>
    </li>
    <% end %>
  </ul>
</div>
